*.md linguist-language=Markdown
*.yaml linguist-language=YAML
*.yml linguist-language=YAML
schemas/*.json linguist-language=JSON
schemas/*.yaml linguist-language=YAML
examples/*.yaml linguist-language=YAML
